<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css" media="screen">
        body {margin: 15px; background: #F5FFFA;}
        h1, h2 {background:  #D8BFD8; padding: 1% 2%; margin: 0;}
        a {text-decoration: none; color: #444;}
        .small {font-size: 75%; color: #777;}
        #header {font-weight: bold; background: #228B22; padding: 1% 2%; color: #F5FFFA;}
        #story-body {background: #F0FFF0; padding: 2%;}
        #story-list {background: #F0FFF0; padding: 1% 1% 1% 4%;}
        #story-list li {margin: 5em 0;}
    </style>
</head>
<body>
    <div id="header">
        <form action="{% url cms-search %}" method="get">
            <a href="{% url cms-home %}">Home</a> &bull;
            <label for="q">Search<input type="text" name="q"></label>
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>